$success-color: #3aa03a;
$color: #fdfdfd;

.main {
  margin: 1rem;
}

.modalContent {
  font-size: 0.9rem;
  line-height: 1.1rem;
  margin-bottom: 1rem;
  min-width: 32rem;
}

.successMessage{
  background-color: $success-color;
  border-bottom: 1px solid $color;
  border-top: 1px solid $color;
  bottom: 0;
  color: $color;
  left: 0;
  padding: 1rem;
  position: absolute;
  width: 100%;
}