$button-color: #FF4338;
$hover-color: #ef564e;
$border-color: #3E454F;
$color: #fdfdfd;
$error-color: #a92020;
$disabled-color: #e48782;


.button {
  background-color: $button-color;
  border: 0;
  border-radius: 3px;
  color: $color;
  cursor: pointer;
  display: block;
  font-size: 0.75rem;
  letter-spacing: 0.4px;
  line-height: 1.45;
  margin: 0.3rem 0.5rem 0.3rem 0;
  padding: 0.9rem 1.5rem;
  text-align: center;
  text-transform: uppercase;
  transition: all 0.25s ease;

  &:hover {
    background-color: $hover-color;
  }

  &:disabled {
    background-color: $disabled-color;
    cursor: not-allowed;
  }
}

.input {
  background: $color;
  border: 1px solid $border-color;
  border-radius: 4px;
  font-size: 0.9rem;
  height: 2.5rem;
  margin-top: 0.2rem;
  padding: 0 0.3rem;
  width: 100%;

  &:disabled {
    background-color: $border-color;
  }
}

.label {
  font-size: 0.9rem;
}

.error {
  color: $error-color;
  display: block;
  font-size: 0.9rem;
  margin-top: 0.3rem;
  min-height: 1.4rem;
}